<div [class]="sidebar + ' ' + colors[colorId] + ' update-window'">
  <h3>Edit Content</h3>
  <div id="text-input">
    <textarea [value]="todo.content" #content (keydown)='onKeyPressed($event, content.value)'></textarea>
    <div id="buttons">
      <button id="submit-button" (click)="updateTodo(content.value)">
        Submit
      </button>
      <button id="cancel-button" (click)="hideSideBar()">Cancel</button>
    </div>
  </div>
</div>
<span [class]="sidebar + ' backing'" (click)="hideSideBar()"></span>
