<div class="container">
  <div class="inner-container">
    <div class="centering-container">
        <h2 class="title">This page is powered by</h2>
    <div class="logo-container">
      <a  href="https://angular.io/"><img src="./assets/img/angular-logo-small.png" title="One framework. Mobile & desktop."/></a>
      </div>
    <div class="logo-container">
        <a  href="https://spring.io/"><img src="./assets/img/spring-boot-logo-small.png" title="Spring: the source for modern java"/></a>
      </div>
    <div class="logo-container">
        <a  href="https://www.mysql.com/"><img src="./assets/img/mysql-logo-small.png" title="The world's most popular open source database"/></a>
    </div>
  </div>
  </div>
</div>
